node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.env.local

# Firebase
firebase-debug.log
firebase-debug.*.log
dataconnect-debug.log
.firebase/